In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("인구_천명당_의료기관병상수_시도_시_군_구__20231226152634.csv", na_values="?")

In [2]:
# '-'로 처리되어 있는 결측치를 nan으로 변경
df.replace("-", np.nan, inplace=True)

In [3]:
# 결측치 확인1
df2 = df.loc[[95, 133, 134], :] 
df2.head()

      행정구역별 2021 2021.1  2021.2
95   　　　과천시  NaN    NaN  73,345
133  　　　고성군  NaN    NaN  27,249
134  　　　양양군  NaN    NaN  27,913

In [4]:
# 결측치 확인2
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼은: {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

missing_col = check_missing_col(df)

결측치가 있는 컬럼은: 2021 입니다
해당 컬럼에 총 3 개의 결측치가 존재합니다.
결측치가 있는 컬럼은: 2021.1 입니다
해당 컬럼에 총 3 개의 결측치가 존재합니다.

In [5]:
# 결측치를 전국 평균 14로 변경
df = df.fillna(14)

In [6]:
# 결측치 변경 확인1
df2 = df.loc[[95, 133, 134], :] 
df2.head()

      행정구역별 2021 2021.1  2021.2
95   　　　과천시   14     14  73,345
133  　　　고성군   14     14  27,249
134  　　　양양군   14     14  27,913

In [7]:
#결측치 변경 확인2
missing_col = check_missing_col(df)

결측치가 존재하지 않습니다

In [8]:
#필요없는 열 삭제

del df['2021.1']
del df['2021.2']
df

       행정구역별                           2021
0      행정구역별  인구 천명당 의료기관병상수(A÷B×1,000) (개)
1         전국                           14.0
2      서울특별시                            9.6
3     　　　종로구                           25.3
4      　　　중구                           10.5
..       ...                            ...
242   　　　거창군                           13.6
243   　　　합천군                           20.2
244  제주특별자치도                            7.5
245   　　　제주시                            9.2
246  　　　서귀포시                            3.0

[247 rows x 2 columns]

In [9]:
df.to_csv('C:/final/결측치제거_인구_천명당_의료기관병상수_시도_시_군_구.csv', index=False)