In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("합계출산율_시도_시_군_구__20231226163208.csv", na_values="?")
df

        시군구별   2021
0         전국  0.808
1      서울특별시  0.626
2     　　　종로구  0.531
3      　　　중구  0.634
4     　　　용산구  0.664
..       ...    ...
297  제주특별자치도  0.951
298   　　　제주시  0.969
299  　　　서귀포시  0.891
300  　　　북제주군      -
301  　　　남제주군      -

[302 rows x 2 columns]

In [2]:
# '-'로 처리되어 있는 결측치를 nan으로 변경
df.replace("-", np.nan, inplace=True)

In [3]:
# 결측치 확인1
df2 = df.loc[[56, 100, 101, 102, 111, 135, 136, 137, 138, 140, 163, 164, 165, 173, 194, 201, 269, 270, 271, 272, 274, 300, 301], :] 
df2.head(23)

        시군구별 2021
56     　　　남구  NaN
100   　　　원미구  NaN
101   　　　소사구  NaN
102   　　　오정구  NaN
111   　　　일산구  NaN
135   　　　양주군  NaN
136   　　　여주군  NaN
137   　　　화성군  NaN
138   　　　광주군  NaN
140   　　　포천군  NaN
163   　　　청주시  NaN
164   　　　상당구  NaN
165   　　　흥덕구  NaN
173   　　　청원군  NaN
194   　　　연기군  NaN
201   　　　당진군  NaN
269   　　　창원시  NaN
270   　　　마산시  NaN
271   　　　합포구  NaN
272   　　　회원구  NaN
274   　　　진해시  NaN
300  　　　북제주군  NaN
301  　　　남제주군  NaN

In [4]:
# 결측치 확인2
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼은: {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

missing_col = check_missing_col(df)

결측치가 있는 컬럼은: 2021 입니다
해당 컬럼에 총 23 개의 결측치가 존재합니다.

In [5]:
# 결측치를 전국 평균 0.808로 변경
df = df.fillna(0.808)

In [6]:
# 결측치 변경 확인1
df2 = df.loc[[56, 100, 101, 102, 111, 135, 136, 137, 138, 140, 163, 164, 165, 173, 194, 201, 269, 270, 271, 272, 274, 300, 301], :] 
df2.head(23)

        시군구별   2021
56     　　　남구  0.808
100   　　　원미구  0.808
101   　　　소사구  0.808
102   　　　오정구  0.808
111   　　　일산구  0.808
135   　　　양주군  0.808
136   　　　여주군  0.808
137   　　　화성군  0.808
138   　　　광주군  0.808
140   　　　포천군  0.808
163   　　　청주시  0.808
164   　　　상당구  0.808
165   　　　흥덕구  0.808
173   　　　청원군  0.808
194   　　　연기군  0.808
201   　　　당진군  0.808
269   　　　창원시  0.808
270   　　　마산시  0.808
271   　　　합포구  0.808
272   　　　회원구  0.808
274   　　　진해시  0.808
300  　　　북제주군  0.808
301  　　　남제주군  0.808

In [7]:
#결측치 변경 확인2
missing_col = check_missing_col(df)

결측치가 존재하지 않습니다

In [8]:
df.to_csv('C:/final/결측치제거_합계출산율_시도_시_군_구.csv', index=False)